/* para declarar variaveis no css, fazemos dentro do elemento root  */
:root {
    /* Uma boa prática no Css, é se você já sabe as cores do seu site,
    use-as como variáveis, pois caso precise mudar, só vai trocar em
    um lugar. Não precisará caçar no código, os lugarem para mudar */
    --vermelho: #e50914;
    --preto: #141414;   
}

/* "O * remete a todo o documento renderizado dentro do html" */
* {
    /* retira toda a margem (espaçamento) do elemento */
    margin: 0;
    padding: 0;
    /* define o limite dos elementos da box, para não ultrapassar o 
    tamanho. Caso os elementos não caibam, eles irão se espremer,
    mas não irão romper o limite */
    box-sizing: border-box;
}


/* elementos base */
body {
    /* para usar variavel no css, usa o var(), passando dentro do 
    parentesis, o nome da variável */
    background: var(--preto);
    /* Fonte padrão, se quiser referenciar fontes externas,
    pode usar o google fonts. */
    font-family: 'Times New Roman', Times, serif;
    color: white;
    
}

/* a header é uma tag HTML, toda vez que nos referimos a uma tag html no 
css, colocamos o nome dela. E quando nos referenciamos a classe que
criamos, colocamos o .nomedaclass */
header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* Header logo  */
header .logo {
    /* "desgrudar" a logo do canto esquerdo da tela  */
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

/* Estilizando a tag nav, dentro do header.  */
header nav a {
    /* Tirando o sublinhado dos botoes  */
    text-decoration: none;
    /* cor dos botoes  */
    color: #AAA;
    /* Espaçamento entre os botoes (inicio, series, filmes etc) */
    margin-right: 10px;
}

/* Quando passar o mouse em cima dos botoes, acontecer uma ação. 
nesse caso, mudar a cor. */
header nav a:hover {
    color: #fff; 
}

/* filme principal */
.filme-principal {
    font-size: 16px;
    /* linear-gradient para criar um gradient entre o texto e escurecer a img  */
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa-vikings.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* texto e descricao para o centro da imagem */
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-bottom: 90px;
}

.titulo {
    /* tamanho da fonte do titulo (vikings) */
    font-size: 30px;
}

.botao {
    /* cor e transparencia dos botoes  */
    background-color: rgba(0,0,0,.50);
    /* retira as bordas do botão (assistir agora e mais infos) */
    border: none;
    /* cor da fonte do botao  */
    color: white;
    /* espaço interno do elemento (botao), 15px cima e baixo, 30px right and left */
    padding: 15px 30px;
}

 sd










